{% extends 'listTable.html' %}

{% block columns %}
  <th scope="col">Nro</th>
  <th scope="col" class="text-center">Nombre</th>
  <th scope="col" class="text-center">Precio Unitario</th>
  <th scope="col" class="text-center">Categoria</th>
  <th scope="col" class="text-center">Opciones</th>
{% endblock %}

{% block rows %}
  {% for producto in object_list %}
    <tr>
      <th scope="col">{{producto.id}}</th>
      <th scope="col" class="text-center">{{producto.nombre}}</th>
      <th scope="col" class="text-center">{{producto.pvp}}</th>
      <th scope="col" class="text-center">{{producto.categoria_id.nombre}}</th>
      <th scope="col" class="text-center">
        <a href="{% url 'erp:categoriaEdit' producto.id %}" type="button" class="btn btn-outline-success btn-xs btn-flat"><i class="fas fa-edit"></i></a>
        <a href="{% url 'erp:categoriaDelete' producto.id %}" type="button" class="btn btn-outline-danger btn-xs btn-flat"><i class="fas fa-trash-alt"></i></a>
      </th>
    </tr>
  {% endfor %}

{% endblock %}

{% block footOptions %}
  <a href="{{ create_url }}" type="button" class="btn btn-outline-primary btn-flat btnTest">
    <i class="fas fa-plus"></i> Nuevo Registro
  </a>
{% endblock %}

{% block jscript %}
  <script>
      $(document).ready(()=>{
        $('.tableList').DataTable({
          resposive:true,
          autoWidth:false
        });

        $('.btnTest').on('click', ()=>{
          $.ajax({
            url: '{% url 'erp:productoCreate' %}',
            type:"POST",
            data: {id:2},
            dataType: 'json'
          }).done((data)=>{
            console.log(data)
          }).fail((data)=>{
            console.log("error")
          }).always((data)=>{

          })
        });
      });
    </script>

{% endblock %}
