{% extends 'home.html' %}

{% block content %}

<div class="card card-primary card-outline my-4">
      <div class="card-header">
        <h3 class="card-title">
          <i class="fas fa-search"></i>
          {{title}}
        </h3>
      </div> <!-- /.card-body -->
      <div class="card-body">
        
        <table class="table tableList">
          <thead class="thead-dark">
            <tr>
              {% block columns %}
              
              {% endblock %}
            </tr>
          </thead>
          <tbody>
            {% block rows %}
            
            {% endblock %}
          </tbody>
        </table>
        
      </div><!-- /.card-body -->
      <div class="card-footer">
        {% block footOptions %}
        
        {% endblock %}
      </div>
    </div>

{% endblock %}
